@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

body{
    background-color: #E2F1DE;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(12, 7, 145);
}

.container h3{
    background-color: aquamarine;
    color: darkred;
    padding: 1%;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    word-spacing: 0.8em;
}

/* div{
    font-size: 10px;
} */

p{
    font-family: 'Corinthia', Helvetica, sans-serif;
    color: hsl(337, 90%, 27%);
    background: hsl(337, 83%, 92%);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2em;
}

.container{
    background-color: lightgreen;
    padding: 2%;
}

#second-p{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(14, 95%, 22%);
    background: hsl(70, 30%, 96%);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2em;
}

#box-model{
    background-color: lightseagreen;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    /* margin: 20px; */

    /* margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px; */

    /* margin: 5px 10px 5px 10px; */
    margin: 5px 10px;
}

.categories{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}

.categories a{
    text-decoration: none;
    color: black;
}

.categories a:hover{
    color: red;    
}

.categories li{
    padding-bottom: 6px;
    border-bottom: 1px dotted #333;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.button{
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    background-color: #E74B37;
}

.block{
    float: left;
    width: 33.33%;
}

.clearfix{
    clear: both;
}

#main__block{
    float: left;
    width: 70%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

#side__bar{
    float: right;
    width: 30%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

.position-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    background-image: url('./images/unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.position-box h1{
    position: absolute;
    top: 140px;
    left: 200px;
}

.position-box h2{
    position: absolute;
    bottom: 40px;
    right: 200px;
}

.fixed-button{
    position: fixed;
    top: 20px;
}